<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <filter>
        <filter-name>FiltroAutenticado</filter-name>
        <filter-class>com.sse.login.FiltroAutenticado</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroAutenticado</filter-name>
        <url-pattern>*.run</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>principal</servlet-name>
        <jsp-file>/jsp/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ImagenIndicadorCreator</servlet-name>
        <servlet-class>com.sse.resultados.ImagenIndicadorCreator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>principal</servlet-name>
        <url-pattern>/principal.run</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.run</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>invalidate</servlet-name>
        <jsp-file>/jsp/login/invalidate.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>invalidate</servlet-name>
        <url-pattern>/invalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagenIndicadorCreator</servlet-name>
        <url-pattern>/ImagenIndicadorCreator</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.run</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>jdbc:mysql://localhost:3306/sse</description>
        <res-ref-name>sse</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
