body{
	z-index:-1;
	position:absolute;
	float:left;
	/*background-image:url(../imagenes/Fondo_Degradado_2.jpg);
	background-repeat:repeat-x;*/
	width:100%;
	height:100%;
	
}

.principal{ 		
       /* border: 5px coral outset;*/
        /*border-radius: 15px;*/
        padding: 5px;
        text-align:center;
        margin:0 auto 0 auto; 
        width:1000px;
        height:900px;
}
.header{
        /*border:3px #30F solid;*/
        border-radius: 10px;
        width:1000px;
        height:90px;	
        background-color:#03325C;
        color:white;
        
}
.header .titulo{
       /* border: 1px #fff solid;*/
        width: 800px;
        height: 40px;
        vertical-align:middle;
        font-size:30px;
        font-weight: bolder;
        padding-top: 10px;
        padding-left: 10px;
        float:left;
        text-align: left;
        font-family: "Arial",Georgia,Serif;
    
}
.header .imagencucea{
        position:relative;
        right:10px;
        float:right;
}
.header .menu{ 
        border: 1px #000 solid;
        /*text-transform:uppercase;*/
        width:998px;
        height:28px;
        background-color:#DDD;
}
.header .divCuenta{
        float:right;
        padding-top: 5px;
        padding-right: 5px;
        color:black;
        font: normal 12px Arial, sans-serif; 
}    

.header .divCuenta a{
        cursor:pointer;
        text-decoration: none; 
}    

.contenido{
        border:3px #36C solid;
        
        width:1000px;
        height:700px;
}
.menuLateral{
        border:3px #F0F solid;
        float:left;
}
.footer{
        border:3px #F0C solid;
        height:70px;
}